<html>
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/tables.css" />
        <style>
                body {
                    background-image: url("http://2.bp.blogspot.com/-vUxhVa-NKEw/UBMTBDBFX8I/AAAAAAAACZk/T5GYfjFHJ0Q/s1600/MT+Bunnies.JPG");
                }
            </style>
</head>

<body>


<div id="wrap" class="container">
<h2>Tokimon Info</h2>

<table>
        <tr>
            <th>Name</th>
            <th>Trainer</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Electric</th>
            <th>Fly</th>
            <th>Fight</th>
            <th>Ice</th>
            <th>Total</th>
            <th>Delete</th>
            <th>See Info</th>
        </tr>
        <% for (var j=0; j<rows.length; j++) {%>
            <tr>
                <td><%= rows[j].name %></td>
                <td><%= rows[j].trainer %></td>
                <td><%= rows[j].height %></td>
                <td><%= rows[j].weight %></td>
                <td><%= rows[j].fire %></td>
                <td><%= rows[j].water %></td>
                <td><%= rows[j].electric %></td>
                <td><%= rows[j].fly %></td>
                <td><%= rows[j].fight %></td>
                <td><%= rows[j].ice %></td>
                <td><%= parseFloat(rows[j].fire) + parseFloat(rows[j].water) + parseFloat(rows[j].electric) + parseFloat(rows[j].fly) + parseFloat(rows[j].fight) + parseFloat(rows[j].ice) %></td>
                <td> <a href='/remove/<%=rows[j].toki_id%>'>REMOVE</a></td>
                <td> <a href='/info/<%=rows[j].toki_id%>'>INFO</a></td>
            </tr>
        <%}; %>
</table>
</div>
<button id="home"><a href="../">Homepage</a></button>
</body>
</html>
