<html>
<head>

</head>

<body>


<div class="container">
<h2>Database Results</h2>

<ul>
    <% for (var j=0; j<rows.length; j++) {%>
        <li><%= rows[j].name %> - <%= rows[j].trainer%> - <%= rows[j].height%> - <%= rows[j].weight%> - <%= rows[j].fire%> - 
            <%= rows[j].water%> - <%= rows[j].electric%> - <%= rows[j].fly%> - <%= rows[j].fight%> - <%= rows[j].ice%></li>
    <% }; %>
</ul>

</div>
</body>
</html>
